ul {
  list-style-type: none;
  margin: 10 20 2 10;
  padding: 0;
  line-height: 24px;
  float:right;
  vertical-align: middle;
}
li{
  display: inline;
  margin: 2px;
  padding: 5 8 4 8;
  font-size: 13px;
  text-decoration: none;

  font-family: arial, sans-serif;
}
a{
  font-family: arial, sans-serif;
  cursor: auto;
  opacity: 0.80;
  color: #000;
}
a:hover{
  opacity: 1;
  color: #000;
}
ul li img{
  border-radius: 200px;
}
#bell{
  padding: 5px;
  border: 1px solid #000;
  border-radius: 200px;
}
